-f https://download.pytorch.org/whl/torch_stable.html
cpu/torch-1.5.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
torchvision==0.7.0

numpy==1.16.2
numpydoc==0.8.0
Pillow==8.2.0
gunicorn == 19.9.0
Flask==1.0.2
