<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/styles/about.css" rel='stylesheet' type='text/css' media="all">
        <title>Weather App</title>
    </head>
    <body>

        <header>
        <div class = 'title-bar' id = 'title-bar'>
            <div class = 'home' id = 'home'>
                <a href = '/' style = 'text-decoration: none; color : #f5deb3;' >HOME</a> 
            </div>


            <div class = 'about' id = 'about'>
                <a href = '/about' style = 'text-decoration: none; color: rgb(170, 240, 6); ' >ABOUT</a>
            </div>

            <div class = 'weather' id = 'weather'>
               <a href = '/weather' style = 'text-decoration: none; color: #f5deb3; ' >WEATHER</a>
            </div>

            <div class = 'help' id = 'help'>
                <a href = '/pre' style = 'text-decoration: none; color : #f5deb3;' >PREDICT</a>
            </div>
        </div>
    </header>
        <br>

        <style>
            body  {
            background-image: url("https://media.istockphoto.com/photos/leaf-background-picture-id844226534?k=20&m=844226534&s=612x612&w=0&h=0s5eix34N-rY2K7kHmdCG5ANURpfjWWFeJ0ITW6jIdI=");
            background-color: #cccccc;
        }
        </style>
        <title>ABOUT PAGE</title>
        <h1><center>ABOUT THE APP</center></h1>
        <div>
            <center>
            <img src="https://s.wsj.net/public/resources/images/BN-VB923_aifarm_HD_20170912152939.jpg" heigh=300 width=320>
            </center>
        </div>
        <h2>
            
        </h2>
    <ol><strong>
    1. On entering the App, select a pic of your plant from your device gallery.</strong>
    </ol>
    <ol><strong>
    2. Then load it into the App.
    </strong></ol>
    <ol><strong>
    3. It analyzes the disease and displays suggestions that can be followed.
    </strong></ol>
    <ol><strong>
    4. Look after the plant and follow the suggested ideas in order to see the best results.
    </strong></ol>
    <hr>
    <hr>
    <br>
    <div class = 'catagory' >
        <h3 class = '_head'> PLANTS WHICH CAN BE CLASSIFIED : </h3>
        <h4> Tomato : </h4>

                    <ul>
                        <li>Tomato  Bacterial spot</li>
                        <li>Tomato  Early blight</li>
                        <li>Tomato  Late blight</li>
                        <li>Tomato  Leaf Mold</li>
                        <li>Tomato  Septoria leaf spot</li>
                        <li>Tomato  Spider mites Two-spotted spider mite</li>
                        <li>Tomato  Target Spot</li>
                        <li>Tomato  Tomato Yellow Leaf Curl Virus</li>
                        <li>Tomato  Tomato mosaic virus</li>
                        <li>Tomato  healthy</li>
                    </ul>

        <h4> Corn : </h4>
 
                    <ul>
                        <li>Corn (maize) Cercospora leaf spot Gray leaf spot</li>
                        <li>Corn (maize)  Common rust_</li>
                        <li>Corn (maize)  Northern Leaf Blight</li>
                        <li>Corn (maize)  healthy</li>
                    </ul>
  
        <h4> Potato : </h4>
 
                    <ul>
                        <li>Potato  Early_blight</li>
                        <li>Potato  Late_blight</li>
                        <li>Potato  healthy</li>
                    </ul>
    
        <h4>Apple : </h4>

                    <ul>
                        <li>Apple scab</li>
                        <li>Apple Black rot</li>
                        <li>Apple Cedar apple rust</li>
                        <li>Apple Black rot </li>
                        <li>Apple Cedar </li>
                        <li>apple_rust</li>
                    </ul>

        <h4>Cherry: </h4>

                    <ul>
                        <li>Cherry (including_sour)  Powdery mildew</li>
                        <li>Cherry (including_sour)  healthy</li>
                    </ul>

        <h4> Grape : </h4>

                    <ul>
                        <li>Grape  Black rot</li>
                        <li>Grape  Esca (Black_Measles)</li>
                        <li>Grape  Leaf blight (Isariopsis Leaf Spot)</li>
                        <li>Grape  healthy</li>
                    </ul>

        <h4> Orange : </h4>

                    <ul>
                        <li>Orange  Haunglongbing (Citrus greening)</li>
                        <li>Orange  Healthy</li>
                    </ul>

        <h4> Peach : </h4>

                    <ul>
                        <li>Peach  Bacterial spot</li>
                        <li>Peach  healthy</li>
                    </ul>
 
        <h4> Pepper : </h4>

                    <ul>
                        <li>Pepper bell  Bacterial spot</li>
                        <li>Pepper bell  healthy</li>
                    </ul>


        <h4> Raspberry : </h4>

                    <ul>
                        <li>Raspberry  healthy</li>
                    </ul>

        <h4> Soybean : </h4> 
       
                    <ul>
                        <li>Soybean  healthy</li>
                    </ul>
   
        <h4> Strawberry : </h4>

                    <ul>
                        <li>Strawberry  Leaf scorch</li>
                        <li>Strawberry   ealthy</li>
                    </ul>

    </div>
    <br>
    <center>
    <img src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/12/19/Pictures/_c890ad0e-417b-11eb-a3f2-c7d95fc89ddb.jpg" heigt=300 width=300>
    </center>
    <p><strong>
    <ul>
    The app Cultivos is designed in such a way that farmers
    can know more about plant diseases and can choose 
    suitable crop for their soil and useful in checking
    weather.
    </ul>
    <ul>
    It gives us the details of the weather for next 
    10 days so that the farmer can plan for sowing and
    cultivation of their crops. This app project is based on
    Artificial Intelligence and Convolutional Neural Network (CNN).
    </ul>

    </strong>
    </p>
    <p1><strong>
    <ul>
    Food security for billions of people on earth requires minimizing crop damage by timely detection of diseases.
    </ul>
    <ul>
    Developing methods for detection of plant diseases serves the dual purpose of increasing crop yield and reducing pesticide use without knowing about the proper disease. 
    </ul>
  
    </strong>
    </p1>

</html>