@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: url('https://images.unsplash.com/photo-1516748797119-1456fdcc3201?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 100%;
    font-size: 20px;
    background-attachment: fixed;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(12, 9, 3, 0.7);
    font-size: calc(1rem + 1vw);
    border-radius: 10px;
    padding: 10px;
    color: #f5deb3;
}

.title-bar .home {
    color: rgb(72, 134, 134);
}

.head {
    padding: 30px;
    font-size: calc(1rem + 1vw);
    background-color: rgba(91, 70, 129, 0.6);
    border-radius: 20px;
}

.head .first {
    display: flex;
    justify-content: center;
    font-size: calc(1rem + 1vw);
}

.head .second {
    display: flex;
    justify-content: center;
    font-size: calc(1rem + 1vw);
}

.procedure {
    font-size: calc(1rem + 0.5vw);
    font-weight: 400px;
}

.procedure .step1 {
    flex-direction: column;
    padding: 50px;
    background-color: rgba(137, 240, 20, 0.6);
    border-radius: 20px;
}

.procedure .step1 .content {
    display: flex;
    justify-content: center;
}

.procedure .step1 .gif {
    display: flex;
    justify-content: center;
}

.procedure .step2 {
    flex-direction: column;
    padding: 50px;
    background-color: rgba(188, 201, 207, 0.6);
    border-radius: 20px;
}

.procedure .step2 .content {
    display: flex;
    justify-content: center;
}

.procedure .step2 .gif {
    display: flex;
    justify-content: center;
}

.procedure .step3 {
    flex-direction: column;
    padding: 50px;
    background-color: rgba(137, 240, 20, 0.6);
    border-radius: 20px;
}

.procedure .step3 .content {
    display: flex;
    justify-content: center;
}

.procedure .step3 .gif {
    display: flex;
    justify-content: center;
}

.procedure .step4 {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
    background-color: rgba(188, 201, 207, 0.6);
    border-radius: 20px;
}

.weather-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: rgba(137, 240, 20, 0.6);
    border-radius: 20px;
}

.weather-data .content {
    display: flex;
    justify-content: center;
}

.weather-data .w-img {
    display: flex;
    justify-content: center;
}

.note {
    padding: 30px;
    font-size: calc(1rem + 1vw);
    background-color: rgba(5, 4, 7, 0.6);
    border-radius: 20px;
    color: wheat;
}